.container{
    display: block;
    margin:  30px;
    text-align: center;
    border-style: solid;
    border-color: black;
    padding: 20px;
    background-color: pink;
    color: black;
}

.temp-day .temperature {
    font-weight: bold;
    color: black;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }

.temp-day .unit {
    color:black;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }
  